---
import type { Article } from '../pages/articles/types'
import BaseLayout from './BaseLayout.astro'

const { data } = Astro.props as { data: Article }

const altInfo = 'Picture display failure';
---

<BaseLayout pageTitle={data.title}>
  <div class="pt-32px bg-#22242b flex justify-center">
    <div class="w-50%">
      <div class="mb-32px">
        {
          data.imageUrl && (
            <div>
              <img
                src={data.imageUrl}
                alt={altInfo}
                class="h-[25em] w-[100%]"
              />
            </div>
          )
        }
        <p
          class="p-16px text-[12px] font-medium leading-[18px] text-center color-[#9095a2]"
        >
          {data.description}
        </p>
      </div>

      <header class="mt-32px">
        <h1 class="text-48px font-800 leading-56px color-#ebeff0">
          {data.title}
        </h1>
        <p class="mt-16px text-24px leading-32px color-#9095a2">
          {data.description}
        </p>
        <div class="pt-32px mt-24px mt-32px flex justify-left">
          <div class="mr-[8px]">
            <img
              src={data.authorPhotoUrl}
              alt=""
              class="rounded-[50%] h-[2em] w-[2em]"
            />
          </div>
          <div>
            <p class="text-[12px] font-600 color-[#9095a2]">
              {data.author}
            </p>
            <p class="text-[12px] leading-[18px] color-[#9095a2]">
              {data.date_created}
            </p>
          </div>
        </div>
      </header>

      <div class="mb-32px mt-32px color-#c5c9d3">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  h1 {
    font-family: "Monument", sans-serif;
  }
</style>
